@import"_minix.scss";
@import"common.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include align;
    span {
        padding: 0 pxTorem(15px);
        @include sizing;
    }
    span:nth-child(1) {
        color: red;
    }
}

section {
    width: 100%;
    @include flex;
    overflow: hidden;
    .swiper-container {
        width: 100%;
        height: pxTorem(150px);
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}